/* public/stylesheets/style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #2f4f4f; /* สีพื้นหลัง navbar */
  color: #fff;
  padding: 20px;
  font-size: 18px; /* ขนาดฟอนต์ */
}

nav a.navbar-brand, nav ul li a {
  color: #fff;
  text-decoration: none;
}

body {
  padding-top: 56px; /* Adjust this value based on the height of your navbar */
}

nav ul li a:hover {
  text-decoration: underline;
}

.content {
  padding: 20px;
}

.about-me-section {
  padding: 40px 0;
}

.profile-picture img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}

.bio {
  font-size: 20px;
  line-height: 1.6;
  max-width: 800px; /* เพิ่มความกว้างสูงสุด */
  margin: 0 auto;
  text-align: center; /* ปรับการจัดตำแหน่งข้อความ */
  color: #2f4f4f; /* สีข้อความ */
}

.contact-info {
  position: sticky;
  bottom: 2px;
  right: 2px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; /* Margin top เพื่อให้กล่องไม่ติดกับเนื้อหามากเกินไป */
}

footer {
  background-color: #2f4f4f; /* สีพื้นหลัง footer */
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
